*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


ul, li {
    list-style: none;
}

a {
    text-decoration: text-shadow: rgb(226, 107, 107) 0px 0px 40px;
}

body {
    font-family: 'UnifrakturCook', cursive;
    background-image: url("https://media.discordapp.net/attachments/1033035498412847104/1082481909478740098/image_11.png?width=1080&height=589");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    font-size: 32px;
    width: 100%;
    height: 100vh;
    color: #000000;
    text-transform: uppercase;
    font-weight: 400;
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
}

.logo {
    margin-bottom: 20px;
}

.logo img {
    width: 180px;
}

.menu {
    text-align: center;
}

.menu__item {
    margin-bottom: 10px;
    font-size: 18px;
}

#video-mobile {
    display: flex;
    justify-content: center;
    width: 300%;
    height: 100%;
    object-position: center;
    object-fit: cover;
    position: fixed;
    top: 0;
}

#video-desktop {
    display: none;
}

@media screen and (min-width: 768px) {
    #video-desktop {
        display: block;
        position: fixed;
        top: 0;
        opacity: 0.3;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
    }

    #video-mobile {
        display: none;
    }
}

.loader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0b0b0b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader__image {
    width: 250px;
}

@import 'https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap';body {
    color: #dcdcdc;
    font-family: roboto mono,monospace
}

.overlay {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 1
}

.overlay.hidden {
    opacity: 0;
    transition: linear .25s
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%)
}

.main {
    text-align: center
}

.controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%)
}

.controls a {
    color: #e26b6b;
    text-decoration: none
}

.modal {
    position: absolute;
    width: 500px;
    top: -500px;
    min-height: 200px;
    visibility: hidden;
    left: 50%;
    border: 1px solid red;
    background: #000;
    transform: translate(-50%,-50%)
}
